<div id="bd1">
  <div class="container mt-4" style="height: 100px"></div>
</div>


<!-- carrousel inicio-->
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <!--Opção 1-->
  <div class="carousel-item active">
    <div class="container">
      <div class="row">
        <!-- card 1-->
        <div class="col-md-4">
          <div class="card" style="width: 18rem">
            <div class="card-header">
              <h5 class="card-title">Corpo Docente</h5>
            </div>
            <div class="card-body">
              <p class="card-text">Ver a Distribuição do Corpo Docento do curso</p>
              <a [routerLink]="['/RegulatorioCorpoDocente']" class="btn btn-primary">Ver</a>
            </div>
          </div>
        </div>
        <!-- fim card 1 -->
        <!-- card 2-->
        <div class="col-md-4">
          <div class="card" style="width: 18rem">
            <div class="card-header">
              <h5 class="card-title">Professor Ies</h5>
            </div>
            <div class="card-body">
              <p class="card-text">Ver a Distribuição do Corpo Docento do curso</p>
              <a [routerLink]="['/']" class="btn btn-primary">Ver</a>
            </div>
          </div>
        </div>
        <!-- fim card 2 -->
        <!-- card 2-->
        <div class="col-md-4">
          <div class="card" style="width: 18rem">
            <div class="card-header">
              <h5 class="card-title">Professor Curso</h5>
            </div>
            <div class="card-body">
              <p class="card-text">Ver a Distribuição do Corpo Docento do curso</p>
              <a [routerLink]="['/']" class="btn btn-primary">Ver</a>
            </div>
          </div>
        </div>
        <!-- fim card 3 -->
      </div>
    </div>
  </div>

  <!--Opção 2-->
  <div class="carousel-item">
    <div class="container">
      <div class="row">
        <!-- card 1-->
        <div class="col-md-4">
          <div class="card" style="width: 18rem">
            <div class="card-header">
              <h5 class="card-title">Professor Fora de Sede</h5>
            </div>
            <div class="card-body">
              <p class="card-text">Ver a Distribuição do Corpo Docento do curso</p>
              <a [routerLink]="['/']" class="btn btn-primary">Ver</a>
            </div>
          </div>
        </div>
        <!-- fim card 1 -->
        <!-- card 2-->
        <div class="col-md-4">
          <div class="card" style="width: 18rem">
            <div class="card-header">
              <h5 class="card-title">Solver TIPT</h5>
            </div>
            <div class="card-body">
              <p class="card-text">Ver a Distribuição do Corpo Docento do curso</p>
              <a [routerLink]="['/']" class="btn btn-primary">Ver</a>
            </div>
          </div>
        </div>
        <!-- fim card 2 -->
        <!-- card 2-->
        <div class="col-md-4">
          <div class="card" style="width: 18rem">
            <div class="card-header">
              <h5 class="card-title">Gera Adesão</h5>
            </div>
            <div class="card-body">
              <p class="card-text">Ver a Distribuição do Corpo Docento do curso</p>
              <a [routerLink]="['/']" class="btn btn-primary">Ver</a>
            </div>
          </div>
        </div>
        <!-- fim card 3 -->
      </div>
    </div>
  </div>

  <div class="p-5"></div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
  </a>
</div>
<!-- fim carrousel-->