<div class="container p-5">
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
  <i class="fas fa-exclamation-triangle"> </i> Erro
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">

      <div class="modal-body d-flex">
        Houve um erro inesperado!
        <button type="button" class="btn btn-primary btn-sm ml-auto p-2ml-auto" data-dismiss="modal">Fechar</button>
      </div>

    </div>
  </div>
</div>

</div>