<div class="container mb-5 ml-2 mt-4">
  <div class="mx-auto mt-5" style="width: 790px;">
    <h2 class="font-weight-light" style="color:black;">
      Exportação
    </h2>
  </div>
</div>

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="height: 300px;">
  <!-- <div class="ml-5">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    </ol>
  </div> -->
  <div class="carousel-inner">

    <div class="carousel-item active">
      <div class="container">
        <div class="row">

          <!--card 1
          <div class="col-md-4">
            <div class="card card-move" style="width: 18rem" [routerLink]="['/Exportacao/professores']">
              <div id="cardhead" class="card-header">
                <h5 class="card-title">Ajustar Professores</h5>
              </div>
              <div class="card-body">
                <i class="fas fa-clipboard-check fa-2x icon"></i>
                <p class="icone">Faça os ajustes manuais necessários para o Censo</p>
              </div>
            </div>
          </div> -->
          <!--card 2-
          <div class="col-md-4">
            <div class="card card-move" style="width: 18rem" [routerLink]="['/']">
              <div id="cardhead" class="card-header">
                <h5 class="card-title">Rank de IES do Resultado</h5>
              </div>
              <div class="card-body">
                <i class="fas fa-address-card fa-2x icon"></i>
                <p>Verifica o enquadramento das IES e Cursos</p>
              </div>
            </div>
          </div> -->
          <!--card 3-->
          <!--  <div class="col-md-4">
            <div class="card card-move" style="width: 18rem" [routerLink]="['/']">
              <div id="cardhead" class="card-header">
                <h5 class="card-title">Exportar Censo</h5>
              </div>
              <div class="card-body">
                <i class="fas fa-id-card-alt fa-2x icon"></i>
                <p>Exporta arquivo para o Censo Docente</p>
              </div>
            </div>
          </div> -->


          <div class="col-md-4">
            <div class="card card-move" style="width: 18rem">
              <div id="cardhead" class="card-header">
                <h5 class="card-title">Exportar Censo</h5>
              </div>
              <div class="card-body">
                <p class="icone">Exporta arquivo para o Censo Docente</p>
                <button [disabled]=" mostrarSpinner" class="btn btn-sm btn-outline-success " (click)="exportacaoCensoExcel()">
                  <i *ngIf="mostrarSpinner" class="fas fa-file-excel  fas fa-spinner fa-pulse mostrarSpinner"></i>
                  Exportar</button>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>

</div>