<div class="row container">
  <div class="col-md-8 m-5">
    <div class="mb-3">
      <h2>Professor Adicionado</h2>
    </div>
  </div>
</div>

<div class="container mt-4 p-0">
  
  <div class="table-overflow">
    <table class="table table-hover">
      <thead class="titulo-tabela">
        <tr>
          <th>CPF</th>
          <th>Nome</th>
          <th>Titulação</th>
          <th>Regime</th>
        </tr>
      </thead>
      
      <tbody>
        <tr>
          <td>{{item?.cpfProfessor}}</td>
          <td>{{item?.nomProfessor}}</td>
          <td>{{item?.regime}}</td>
          <td>{{item?.titulacao}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  