<div class="container p-0">
  <div class="row">
    <div class="col-md-6 mt-5">

      <label for="nomInstituicao"><b>Selecione a Instituição </b></label>
      <div class="input-group">
        <select #_codIes class="form-control" id="ies">
          <option value="0" disabled>-- Selecione uma Instituição --</option>
          <option *ngFor="let item of ies" value="{{item.codIes}}">{{item.nomIes}}</option>
        </select>
        <div class="input-group-append ">
          <button class="btn btn-outline-primary" (click)="buscaId(_codIes.value)">Buscar</button>
        </div>
        <div class="input-group-append ">
            <button class="btn btn-sm btn-outline-success" (click)="exportarResultadoExcel(_codIes.value)">Buscar</button>
          </div>
        <button class="btn btn-sm btn-outline-success ml-4 " (click)="exportarResultadoExcel(_codIes.value)" *ngIf="_codIes.value">
            <i class="fas fa-file-excel fa-1x"></i> Exportar</button>

      </div>
    </div>
  </div>

  <div class="container mt-4 p-0">
    <div class="d-flex align-items-start mt-2">
      <h4>Professor Por IES</h4>
      <button class="btn btn-sm btn-outline-success ml-4 " (click)="exportarResultadoExcel(_codIes.value)" *ngIf="_codIes.value">
        <i class="fas fa-file-excel fa-1x"></i> Exportar</button>
    </div>
    <div class="table-overflow">
      <table class="table table-hover">
        <thead class="titulo-tabela">
          <tr>
            <th>Matricula</th>
            <th>Professor</th>
            <th>Região</th>
            <th>Nome Instituição</th>
            <th>Titulação</th>
            <th tooltip="Dentro de Sala">Carga DS</th>
            <th tooltip="Fora de Sala">Carga FS</th>
            <th>Regime</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of resultadoId | paginate: { itemsPerPage: 7, currentPage: p }">
            <td>{{item?.numMatricula}}</td>
            <td>{{item?.nomProfessor}}</td>
            <td>{{item?.nomRegiao}}</td>
            <td>{{item?.nomInstituicao}}</td>
            <td>{{item?.titulacao}}</td>
            <td>{{item?.cargaDS | number : '1.0-1'}}</td>
            <td>{{item?.cargaFS | number : '1.0-1'}}</td>
            <td>{{item?.regime}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    
    <pagination-controls *ngIf="resultadoId" previousLabel="Anterior" nextLabel="Próximo" (pageChange)="p = $event">
    </pagination-controls>
  </div>
</div>