<div class="container mt-2 ml-4">
  <div class="row">
    <div class="col-md-6">
      <div class="form">
        <div>
          <label><b>Corpo Docente</b></label>
          <select class="form-control">
            <option>Corpo docente aqui</option>
          </select>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="col-md-6">
        <div class="form">
          <div>
            <label><b>Corpo Docente</b></label>
            <select class="form-control">
              <option>Corpo docente aqui</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container m-1">
    <h4 class="mt-5">Corpo Docente</h4>


    <div class="container">
      <!--spinner 
      <div *ngIf="!listaCampus" class="container text-center mt-5">
        <i class="fas fa-spinner fa-pulse fa-3x mt-5"></i>
      </div> -->


      <div class="row">
        <div class="col-md-7">
          <!-- dados nao encontrados 
          <div class="alert alert-warning mt-5 card1" *ngIf="errodados">Ops! Não localizamos esses dados.
          </div> -->
          <div class="container mt-3">
            <table class="table">
              <thead>
                <th>A</th>
                <th>B</th>
                <th>C</th>
                <th>D</th>
                <th>E</th>


              </thead>
              <tbody>
                <tr>
                  <th scope="row">U</th>
                  <td>U</td>
                  <td>U</td>
                  <td>U</td>
                  <td>U</td>

                </tr>
                <tr>
                  <th scope="row">M</th>
                  <td>M</td>
                  <td>M</td>
                  <td>M</td>
                  <td>M</td>

                </tr>
                <tr>
                  <th scope="row">P</th>
                  <td>P</td>
                  <td>P</td>
                  <td>P</td>
                  <td>P</td>

                </tr>
              </tbody>
            </table>


          </div>

        </div>

      </div>


    </div>

  </div>