<div class="container">
  <div class="row mt-5">
    <div class="col-md-3">

    </div>

    <!-- Gráfico redondo -->
    <div id="graficos" class="container">
      <div *ngIf="!professores" class="container text-center mt-5">
        <i class="fas fa-spinner fa-pulse fa-3x mt-5"></i>
      </div>
      <div class="row" style="margin-bottom: 20px;">
        <div class="col md-6">
          <div class="container" *ngIf="professores">
            <div>
              <div class="col-md-6">
                <!-- GRÁFICO REDONDO-->
                <ngx-charts-pie-grid [view]="view" [scheme]="colorScheme" [results]="dadosGrafico"
                  (select)="onSelect($event)">
                </ngx-charts-pie-grid>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="container mt-4">
    <div class="d-flex align-items-start">
      <h4>Informações Importantes</h4>

      <button class="btn btn-sm btn-outline-success ml-4 ml-auto" (click)="exportarResultadoExcel()">
        <i class="fas fa-file-excel fa-1x"></i> Exportar</button>
    </div>
    <hr>
  </div>

  <div id="graficos" class="container">
    <div *ngIf="!professores" class="container text-center mt-5">
      <i class="fas fa-spinner fa-pulse fa-3x mt-5"></i>
    </div>


    <div class="row mt-3 pb-4 pt-2">
      <div class="col md-6">
        <div class="container pt-5" *ngIf="professores">
          <div style="display: block; width: 80%">

            <canvas baseChart [datasets]=barChartData [labels]=barChartLabels [options]=barChartOptions
              [legend]=barChartLegend [chartType]=barChartType [colors]=barChartColors>
            </canvas>
          </div>
        </div>
      </div>
      <div class="col md-6">
        <div class="container">
          <div>
            <div *ngIf="professores">
              <div style="display: block">
                <canvas baseChart [labels]=radarChartLabels [datasets]=radarChartData [legend]=radarChartLegend
                  [chartType]=radarChartType [options]=radarChartOptions [colors]=radarChartColor>

                </canvas>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>












</div>