<div class="container  mt-5">
  <div class="d-flex">
    <h2 class="mr-auto">Resultados</h2>
    <button [routerLink]="['/Resultados']" class="btn btn-outline-primary ml-auto">Voltar</button>
  </div>
  <hr>
  <div class="p-2"></div>
</div>


<div class="container">
  <div class="row">


    <div class="col-sm-6">
      <h5 class="display-5 p-2">Atual</h5>
      <table class="table">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">1 a 2</th>
            <th scope="col">3</th>
            <th scope="col">4 a 5</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Doutor</th>
            <td>A</td>
            <td>B</td>
            <td>C</td>
          </tr>
          <tr>
            <th scope="row">Nota Titulação</th>
            <td>A</td>
            <td>B</td>
            <td>C</td>
          </tr>
          <tr>
            <th scope="row">Nota Regime</th>
            <td>A</td>
            <td>B</td>
            <td>C</td>
          </tr>
          <tr>
            <th scope="row">Nota</th>
            <td>A</td>
            <td>B</td>
            <td>C</td>
          </tr>
        </tbody>
      </table>
      <div>
        <i>1 a 2 Insatisfatório</i> | <i>3 satisfatório</i> | <i>4 a 5 Excelente</i>
      </div>
    </div>


    <div class="col-sm-6">
      <h5 class="display-5 p-2">Otimizado</h5>
      <table class="table">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">1 a 2</th>
            <th scope="col">3</th>
            <th scope="col">4 a 5</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row"></th>
            <td>A</td>
            <td>B</td>
            <td>C</td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td>A</td>
            <td>B</td>
            <td>C</td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td>A</td>
            <td>B</td>
            <td>C</td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td>A</td>
            <td>B</td>
            <td>C</td>
          </tr>
        </tbody>
      </table>
    </div>



  </div>
</div>