<div class="">
  <form class="p-4">
    <select #_idCiclo class="form-control col-md-3" id="id" (change)="filtrarCiclo(_idCiclo.value)">
      <option value="-1" disabled>-- Selecione um Ciclo --</option>
      <option *ngFor="let item of todosCiclos" value="{{item.idCiclo}}">{{item.obs}}</option>
    </select>
    <div class="p-4"></div>
    <form>
      <div class="form-row">
        <!-- COMBO 1-->
        <div class="col">
          Descrição da Área:
          <textarea class="form-control" id="exampleFormControlTextarea1"  style="width: 300px; height: 300px;">
           {{cicloFiltrado?.descArea}}
          </textarea>
        </div>
        <!-- COMBO 2-->
        <div class="col">
          <div class="d-flex justify-content-between">Ciclo: {{todosCiclos[_idCiclo.selectedIndex -1]?.obs}}</div>
          <select multiple class="form-control" id="sel2" style="width: 400px; height: 300px;">
            <option *ngFor="let palavra of cicloFiltradoSelecionado" (click)="pegaPalavraOrigem(palavra,$event.target)"
              [value]="palavra?.codareaemec">{{palavra?.descricaoarea}}</option>
          </select>
        </div>
        <div class="p-4">
          <button type="button" class="btn btn-outline-primary btn-sm" (click)="devolveItens()">
            <i class="fas fa-angle-double-left"></i> Inserir </button>
          <div class="p-2"></div>
          <button type="button" class="btn btn-outline-primary btn-sm" (click)="transfereItens()">
            <i class="fas fa-angle-double-right"></i> Remover </button>
        </div>
        <!-- COMBO 3-->
        <div class="col">
          <div class="d-flex justify-content-between">Todos os Ciclos</div>
          <select multiple class="form-control" id="sel2" style="width: 400px; height: 300px;">
            <option *ngFor="let palavra of palavrasDestino" (click)="pegaPalavraDestino(palavra,$event.target)"
              value="{{palavra}}">{{ palavra?.descricaoarea }}</option>
          </select>
        </div>
      </div>
    </form>
    <div class="" style="margin-left: 1250px;">
      <button class="btn btn-primary btn-sm" (click)="salvar()">Salvar</button>
    </div>
  </form>
</div>