<div class="">
  <form class="p-5">
    <select #_idCiclo class="form-control col-md-3" id="id" (change)="filtrarCiclo(_idCiclo.value)">
      <option value="-1" disabled>-- Selecione um Ciclo --</option>
      <option *ngFor="let item of todosCiclos" value="{{item.idCiclo}}">{{item.obs}}</option>
    </select>

    <div class="p-4"></div>

    <form>
      <div class="form-row">

        <!-- COMBO 1-->
        <div class="col">
          <label for="exampleFormControlTextarea1">Descrição:</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" style="width: 300px; height: 300px;">
           {{cicloFiltrado?.descArea}}
          </textarea>
        </div>

        <!-- COMBO 2-->
        <div class="col">
          <label for="exampleFormControlTextarea1">Descrição:</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" style="width: 300px; height: 300px;">
           <!-- {{cicloFiltrado?.descArea}} -->
          </textarea>
        </div>

        <!-- Button -->
        <div class="p-5">
          <button class="btn btn-primary btn-sm salvar()">Adicionar</button>
          <div class="p-5"></div>
          <button class="btn btn-primary btn-sm salvar()">Remover</button>
        </div>

        <!-- COMBO 3-->
        <div class="col">
          <label for="exampleFormControlTextarea1">Descrição:</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" style="width: 300px; height: 300px;">
           <!-- {{cicloFiltrado?.descArea}} -->
          </textarea>
        </div>

      </div>
    </form>

    <div class="d-flex flex-row-reverse p-5 ">
      <button class="btn btn-primary btn-sm salvar()">Salvar</button>
    </div>

  </form>
</div>