.btn {

    border-radius: 110px;
    /* border-style: none; */
    /* box-shadow: 5px 5px 5px 2px #f6f6f6; */
    
}

.card{

    box-shadow: 5px 5px 5px 2px #F0F0F0;
}

#limite {

    animation: slide 1s forwards;
    animation-delay: 2s;
}

.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}

