<div class="fundo">
<div class="container">
    <div class=" p-4">
    </div>
    <div class="row container">
      <div class="form-group col-md-8">
        <div class="input-group mb-3">
          <h2>Comparar Resultados</h2>
  
        </div>
      </div>
  
      <div class="col-md-1 offset-2">
        <button [routerLink]="['/Resultados']" class="btn btn-outline-primary"> <span><i class="fas fa-long-arrow-alt-left 2x"
              aria-hidden="true"></i></span> Voltar</button>
      </div>
    </div>
  
    
      <div class="container">

     
        <table class="table table">
          <thead>
            <tr class="tit">
              <th scope="col" rowspan="2">Id Resultado</th>
              <th scope="col" class="text-center" colspan="3">Doutor</th>
              <th scope="col" class="text-center" colspan="3">Nota Titulacao</th>
              <th scope="col" class="text-center" colspan="3">Nota Regime</th>
              <th scope="col" class="text-center" colspan="3">Nota Corpo</th>
            </tr>
            <tr class="text-center tit" >
                <th>1 a 2</th>
                <th>3</th>
                <th>4 a 5</th>
                <th>1 a 2</th>
                <th>3</th>
                <th>4 a 5</th>
                <th>1 a 2</th>
                <th>3</th>
                <th>4 a 5</th>
                <th>1 a 2</th>
                <th>3</th>
                <th>4 a 5</th>
            </tr>
          </thead>
          <tbody > 

            <tr *ngFor="let item of resultados">
              <th scope="row">{{item.id}}</th>
              <!-- <td>{{dadosJsonOtm.qtdD_1a2_E}}</td>
            <td>{{dadosJsonOtm.qtdD_3_E}}</td>
            <td>{{dadosJsonOtm.qtdD_4a5_E}}</td> -->
              <td>{{JSONParse_(item.resumo).qtdD_1a2_E}}</td>
              <td>{{JSONParse_(item.resumo).qtdD_3_E}}</td>
              <td>{{JSONParse_(item.resumo).qtdD_4a5_E}}</td>
              <td>{{JSONParse_(item.resumo).qtdM_1a2_E}}</td>
              <td>{{JSONParse_(item.resumo).qtdM_3_E}}</td>
              <td>{{JSONParse_(item.resumo).qtdM_4a5_E}}</td>
              <td>{{JSONParse_(item.resumo).qtdR_1a2_E}}</td>
              <td>{{JSONParse_(item.resumo).qtdR_3_E}}</td>
              <td>{{JSONParse_(item.resumo).qtdR_4a5_E}}</td>
              <td>{{JSONParse_(item.resumo).Nota1a2_E}}</td> 
              <td>{{JSONParse_(item.resumo).Nota3_E}}</td>     
              <td>{{JSONParse_(item.resumo).Nota4a5_E}}</td>
            </tr>
            <tr>
              <td colspan="4" style="border: none;">
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</div>