<nav class="navbar navbar-expand-md navbar-light fg-white" style="background-color:#f5f5f5">
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/Professor']" routerLinkActive="router-link-active" >Professores <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/ProfessorIES']" routerLinkActive="router-link-active" >Professor por IES <span class="sr-only">(current)</span></a>
      </li>
      
    </ul>
  </div>
</nav>
