<div class="container p-4">
<form>
  <div class="form-row">
  <div class="form-group col-md-4">
    <label for="inputState">Curso</label>
    <select  class="form-control">
      <option selected>Curso</option>
      <option>...</option>
    </select>
  </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-5 mr-5">
      <fieldset disabled>
      <label >Nome do Curso</label>
      <input type="text" class="form-control">
    </fieldset>
    </div>
    <div class="form-group col-md-4">
      <label for="inputState">Área do Curso</label>
      <select  class="form-control">
        <option selected>Nome da Área Atual</option>
        <option>...</option>
      </select>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-2 mr-5">
      <fieldset disabled>
      <label>Qtd Oferta em Campi</label>
      <input type="text" class="form-control">
      </fieldset>
    </div>
    <div class="form-group col-md-2">
      <fieldset disabled>
      <label for="inputZip">Alunos Ativos</label>
      <input type="text" class="form-control">
      </fieldset>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-2">
      <label for="inputState">CPC por Campus</label>
      <select  class="form-control">
        <option selected>Campus</option>
        <option>...</option>
      </select>
    </div>
  </div>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">ANO</th>
        <th scope="col">CPC</th>
        <th scope="col">ENADE</th>
        <th scope="col">CONCEITO ENADE</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">2012</th>
        <td>2,34</td>
        <td>37,87</td>
        <td>2,45</td>
      </tr>
      <tr>
        <th scope="row">2015</th>
        <td>2,45</td>
        <td>34,34</td>
        <td>2,40</td>
      </tr>
      <tr>
        <th scope="row">2017</th>
        <td>2,25</td>
        <td>38,94</td>
        <td>2,35</td>
      </tr>
    </tbody>
  </table>
  
  <button type="submit" class="btn btn-primary">Salvar</button>
</form>

</div>