/* alterar a cor das setinhas do carousel */
.carousel-control-next,
.carousel-control-prev {
filter: invert(100%);
padding: 5px;
margin: 5px;
min-width: 0px;
width: 10%;
}
 
.card {
    /* box-shadow: 5px 5px 5px 2px rgb(235, 231, 231); */
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    margin: 20px;
}

.card-header{
    background-color: #39496c;
    color: white;
}

/*cor do indicador carrousel*/
.carousel-indicators li {
    /*indicador de bolinha
    width: 10px !important;
    height: 10px !important;
    border-radius: 100%; */
    margin-top: 10px !important;
    filter: invert(70%);
  }

  .btn-primary{
    background-color: #1eb8de;
    border: none;
}


.icon {
    color: #39496c;
}


.card-move  {
     /* box-shadow: 5px 5px 5px 2px #F0F0F0; */
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: box-shadow 0.4s ease-in-out;
}


.card-move:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    cursor: pointer;

}

#cardhead {
    background-color: #39496c;
    color: white;
    
}