table {
    font-size: 13px;
}

.borda {
    border: none;
    padding-top: 0;
    margin-top: 0;
    padding-bottom: 10px;
    margin-bottom: 10px;
}


td {
    padding: 5px;
}

.table-overflow {
    width: 1300px; 
    height: 500px;
    overflow-x:auto;
   
}

.titulo {
    border: 1px solid #F2F2F2;
    border-radius: .25rem;
    box-shadow: 2px 2px 6px 3px #E2E2E2;
  }

  tbody td, th {
     text-align: center; 
}


/*thead {
   /*  text-align: center; 
} */

.btn-warning :hover {
    background-color: white !important;
}


/*card dentro da tabela*/

p {
    font-size: 14px;
   line-height: 1.57;
}
.resource {
    text-align: center;
    box-shadow:  2px 2px 6px 3px #E2E2E2;
    border-radius: 5px;
    padding: 5px;
    max-width: 310px;
}
.resource .left {
    width: 90px;
    position: relative;
    float: left;
}
.resource .right {
    max-width: 150px;
    text-align: left;
}

/*fim do card dentro da tabela*/