table {
    font-size: 13px;
}

td {
    padding: 5px;
}

.table-overflow {
    width: 1200px; 
    height: 500px;
    overflow-x:auto;
   
}

.titulo {
    border: 1px solid #F2F2F2;
    border-radius: .25rem;
    box-shadow: 2px 2px 6px 3px #E2E2E2;
  }

  tbody td, th {
    /* text-align: center; */
}

thead {
    /* text-align: center; */

}

.btn-warning :hover {
    background-color: white !important;
}