/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/@fortawesome/fontawesome-free/css/all.min.css';
@import '../node_modules/chart.js/dist/Chart.min.css';


html {
    background-color: #F7F7F7;
    
  }

  .div {

    background-color: #F7F7F7;

  }

  body {
        
    background-color: #F7F7F7;
  }

  table {
    font-size: 13px;
}

td {
    padding: 5px;
}

 
