<div class="container" id="pdf_View">
    <h2>Teste PDF</h2>

    <select >
        <option value="1">Teste 1 </option>
        <option value="2">Teste 2 </option>
        <option value="3">Teste 3 </option>
    </select>

    <div>
        <h2>
            Movimentação de Quador Docente
        </h2>
    </div>

    <table class="table">
        <thead>
            <th scope="row">Id</th>
            <th scope ="row">Nome</th>
            <th scope ="row">Data</th>
            <th scope ="row">Setor</th>
            <th scope ="row">Valor</th>
        </thead>
        <tbody>
            <tr>
                <td>teste </td>
                <td>teste </td>
                <td>teste </td>
                <td>teste </td>
                <td>teste </td>
            </tr>
            <tr>
                <td>teste</td>
                <td>teste</td>
                <td>teste</td>
                <td>teste</td>
                <td>teste</td>
            </tr>
            <tr>
                <td>teste</td>
                <td>teste</td>
                <td>teste</td>
                <td>teste</td>
                <td>teste</td>
            </tr>
        </tbody>
    </table>






















    

    
    
</div>

<div class="container">
<button class="btn btn-primary" (click)="export('Thiago Caldas')"><i class="fas fa-file-pdf"  ></i> PDF</button>
</div>
