<div class="container mb-5 ml-2 mt-4">
  <div class="mx-auto mt-5" style="width: 760px;">
    <h2 class="font-weight-light" style="color:black;">
      Relatórios
    </h2>
  </div>
</div>
<div class="container">


  <div class="row">
    <div class="col-md-4">
      <div class="card card-move" style="width: 18rem" [routerLink]="['/PerformanceAlunos']">
        <div id="cardhead" class="card-header ">
          <h5 class="card-title">Performance de Alunos </h5>
        </div>
        <div class="card-body">
          <i class="far fa-address-card fa-2x icon"></i>
          <p>Acesse as informações dos professores</p>
        </div>
      </div>
    </div>

    <!--
    <div class="col-md-4">
      <div class="card card-move" style="width: 18rem" [routerLink]="['/']">
        <div id="cardhead" class="card-header">
          <h5 class="card-title">Composição CPC</h5>
        </div>
        <div class="card-body">
          <i class="far fa-clipboard fa-2x icon"></i>
          <p>Verifique a pontuação do seu curso</p>
        </div>
      </div>

    </div>  -->

    <div class="col-md-4">
      <div class="card card-move" style="width: 18rem" [routerLink]="['/ProducaoQuestoes']">
        <div id="cardhead" class="card-header">
          <h5 class="card-title">Prod de Questões BDQ</h5>
        </div>
        <div class="card-body">
          <i class="fas fa-poll fa-2x icon"></i>
          <p>Crie cenários de otimização e aproveitamento docente</p>
        </div>
      </div>

    </div>
  </div>
</div>