<div class="container mb-5 ml-2 mt-4">
  <div class="mx-auto mt-5" style="width: 790px;">
    <h2 class="font-weight-light" style="color:black;">
      Enade
    </h2>
  </div>
</div>

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="height: 300px;">
  <!-- <div class="ml-5">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    </ol>
  </div> -->
  <div class="carousel-inner">

    <div class="carousel-item active">
      <div class="container">
        <div class="row">

          <!--card 1-->
          <div class="col-md-4">
            <div class="card card-move" style="width: 18rem" [routerLink]="['/CursoEnade']">
              <div id="cardhead" class="card-header">
                <h5 class="card-title">Curso Enade</h5>
              </div>
              <div class="card-body">
                <i class="fas fa-award fa-2x icon"></i>
                <p class="icone">Informações sobre o Curso Enade do ano vigente ou posterior</p>
              </div>
            </div>
          </div>
          <!--card 2-->
          <div class="col-md-4">
            <div class="card card-move" style="width: 18rem" [routerLink]="['/ManutencaoCursoEnade']">
              <div id="cardhead" class="card-header">
                <h5 class="card-title">Manutenção Ciclo Enade</h5>
              </div>
              <div class="card-body">
                <i class="far fa-edit fa-2x icon"></i>
                <p>Faça os ajustes manuais necessários para o Curso Enade</p>
              </div>
            </div>
          </div>
          <!--card 3-->
          <!-- 
          <div class="col-md-4">
            <div class="card card-move" style="width: 18rem" [routerLink]="['/AreaEnade']">
              <div id="cardhead" class="card-header">
                <h5 class="card-title">Área Enade</h5>
              </div>
              <div class="card-body">
                <i class="far fa-edit fa-2x icon"></i>
                <p>Faça os ajustes manuais necessários para o Curso Enade</p>
              </div>
            </div>
          </div>
        -->
         

       

        </div>
      </div>
    </div>

  </div>

</div>