<body class="text-center p-5" data-gr-c-s-loaded="true">
          <div class="p-4"></div>
          <h1>
            <span class="leter-primary">Estratégia</span><span class="leter-second">Acadêmica</span>
          </h1>
          <form class="form-signin">

      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">                         
              <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" placeholder="Email"/>
              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                  <div *ngIf="f.email.errors.required">Email é obrigatório</div>
                  <div *ngIf="f.email.errors.email">O email deve ser um email válido</div>
              </div>
         
              <div class="p-2"></div>          
                  <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" placeholder="Senha"/>
                  <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                      <div *ngIf="f.password.errors.required">Senha é obrigatória</div>
                      <div *ngIf="f.password.errors.minlength">Senha mínima de 6 caracteres</div>
                  </div>                   
                  <div class="p-2"></div>
          <div class="text-center">
              <button class="btn btn-primary mr-1"  (onClick)="onSubmit()">Entrar</button>             
          </div>
          </form>
      </form>

</body>