<div class="container p-5">
  <form>
    <div class="form-row ">
      <!-- select Campus-->
      <div class="form-group col-md-4">
        <label for="campus">Selecione o Campus</label>
        <select #_codCampus class="form-control ml-2" id="campus">
          <option value="-1" disabled>-- Selecione uma Instituição --</option>
          <option *ngFor="let item of listaCampus" [value]="item.codCampus">
            {{item?.nomCampus}}</option>
        </select>
      </div>
      <!-- select Campus-->

      <!-- select Ano
        <div class="form-group col-md-2">
          <label for="campus">Ano</label>
          <select #_codCampus class="form-control ml-2" id="campus">
            <option value="-1" disabled>Ano</option>
            <option *ngFor="let item of listaCampus" [value]="item.codCampus">
              {{item?.codCampus}}</option>
          </select>
        </div>
        select Ano-->

      <!-- Pesquisar -->
      <i class="form-group col-md-2" style="margin-top: 30px;">
        <button class="btn btn-sm btn-outline-primary p-2" (click)="filtrarCursos(_codCampus.value)">
          Pesquisar </button>
      </i>
      <!-- Pesquisar -->

      <div class="p-5"></div>
      <!-- Manutenção -->
      <i class="form-group col-md-2" style="margin-top: 30px;">
        <button [routerLink]="['/ManutencaoCursoEnade']" class="btn btn-sm btn-outline-primary p-2">
          Manutenção </button>
      </i>
      <!-- Manutenção -->



      <!-- menu pesquisar 
      <div class="input-group mb-0 col-md-6 tabela-centralizada mt-3">
        <input *ngIf="cursoFiltrado" (keyup)="pesquisarCursos($event.target.value)" type="text" class="form-control"
          placeholder="Digite o curso ..." aria-label="Recipient's username" aria-describedby="basic-addon2">
      </div>
     fim menu pesquisar -->

    </div>



  </form>
  <!-- tabela-->
  <div class="p-2"></div>
  <h5>Cursos</h5>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Curso</th>
        <th scope="col">Área</th>
        <th scope="col">Ciclo</th>
        <th scope="col">Ano</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of cursoFiltrado | paginate: { itemsPerPage: 8, currentPage: p }">
        <td>{{item?.nomCursoCenso}}</td>
        <td>{{item?.codArea}}</td>
        <td>{{item?.codEmec}}</td>
        <td>{{item?.codEmec}}</td>
      </tr>
    </tbody>
  </table>
  <!-- tabela-->

  <div class="container">
    <pagination-controls *ngIf="cursoFiltrado" previousLabel="Anterior" nextLabel="Próximo" (pageChange)="p = $event">
    </pagination-controls>
  </div>

</div>