<div class="container p-5">
  <form>
    <div class="form-row ">
      <!-- select -->
      <div class="form-group col-md-4">
        <label for="campus">Selecione o Campus</label>
        <select #_codCampus class="form-control ml-2" id="campus" (change)="filtrarCursos(_codCampus.value)">
          <option value="-1" disabled>-- Selecione uma Instituição --</option>
          <option *ngFor="let item of listaCampus" [value]="item.codCampus">
            {{item?.nomCampus}}</option>
        </select>
      </div>
      <!-- select -->
      <!-- upload 
      <i class="form-group col-md-2" style="margin-top: 30px;">
        <button class="btn btn-sm btn-outline-success p-2">
          <i class="fas fa-cloud-upload-alt"></i> Upload </button>
      </i>
      upload -->
      <div class="p-5"></div>
      <!-- Manutenção -->
      <i class="form-group col-md-2" style="margin-top: 30px;">
        <button [routerLink]="['/ManutencaoCursoEnade']" class="btn btn-sm btn-outline-primary p-2">
          Manutenção </button>
      </i>
      <!-- Manutenção -->
    </div>
  </form>
  <!-- tabela-->
  <div class="p-2"></div>
  <h5 class=""> Cursos do Campus Selecionado</h5>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Curso</th>
        <th scope="col">Área</th>
        <th scope="col">Ciclo</th>
        <th scope="col">Ano</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of cursoFiltrado | paginate: { itemsPerPage: 8, currentPage: p }">
        <td>{{item?.nomCursoCenso}}</td>
        <td>{{item?.codArea}}</td>
        <td>{{item?.codEmec}}</td>
        <td>{{item?.codEmec}}</td>
       <!-- <td>{{item?.descricaoCiclo}}</td>
        <td>{{item?.descArea}}</td> -->
      </tr>
    </tbody>
  </table>
  <!-- tabela-->
</div>

<div class="container">
  <pagination-controls *ngIf="cursoFiltrado" previousLabel="Anterior" nextLabel="Próximo" (pageChange)="p = $event">
  </pagination-controls>
</div>



<!-- modal 
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Trocar o Ciclo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Escolha um Ciclo:</label>
            <select id="inputState" class="form-control">
              <option selected>Selecione um Ciclo </option>
              <option value="ciclo1">Ciclo I</option>
              <option value="ciclo2">Ciclo II</option>
              <option value="ciclo3">Ciclo III</option>
            </select>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-primary">Salvar</button>
      </div>
    </div>
  </div>
</div>
modal -->