<div class="container mt-5">
    <div class="input-group mb-3 col-md-8">
        <input [(ngModel)]="campo" type="text" class="form-control" placeholder="Informe o professor" aria-label="Recipient's username" aria-describedby="button-addon2">
        <div class="input-group-append">
            <button class="btn btn-outline-primary" type="button" id="button-addon2"(click)='buscarProfessores()'>Pesquisar</button>
        </div>
    </div>
</div>
<div class="container"> 
    <div class="row">
        <div class="col-md-8" style="margin-top: 10%">
            <h3>
                Professores
            </h3>
   
            <table class="table">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Cpf</th>
                        <th>Regime</th>
                        <th>Titulacao</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <div *ngIf='!professores.length' class="alert alert-danger mt-4" role="alert">
                        Não há professores nessa busca!
                    </div>
                    <tr *ngFor="let item of professores">
                        <td>{{item.nomProfessor}}</td>
                        <td>{{item.cpfProfessor}}</td>
                        <td>{{item.regime}}</td>
                        <td>{{item.titulacao}}</td>
                    </tr>
                    
                </tbody>

            </table>
            <hr>
        </div>
    </div>
</div>