<div class="container p-0">
  <div class="row">
    <div class="col-md-6 mt-5">

      <label for="nomInstituicao"><b>Selecione o Campus </b></label>
      <div class="input-group">
        <select #_codCampus class="form-control" id="codCampus">
          <option value="0" disabled>-- Selecione um Campus --</option>
          <option *ngFor="let item of codigoCampus" value="{{item.codCampus}}">{{item.nomCampus}}</option>
        </select>
        <div class="input-group-append ">
          <button class="btn btn-outline-primary" (click)="resultadoProfessorForaSede(_codCampus.value)">Buscar</button>
        </div>

        <div class="input-group-append ">
          <button class="btn btn-sm btn-outline-success " (click)="exportarResultadoExcel(_codCampus.value)"
            *ngIf="_codCampus.value">
            <i class="fas fa-file-excel fa-1x"></i> Exportar</button>
        </div>

      </div>
    </div>
  </div>

  <div class="container mt-4 p-0">

      <div *ngIf="!input" class="container text-center mt-5">
          <i class="fas fa-spinner fa-pulse fa-3x mt-5"></i>
        </div>


    <div class="d-flex align-items-start mt-2">
      <h4>Professor Fora de Sede</h4>
    </div>
    <div class="table-overflow">
      <table class="table table-hover">
        <thead class="titulo-tabela">
          <tr>
            <th>CPF</th>
            <th>Código Campus </th>
            <th>Nome Professor</th>
            <th>Ativo</th>
            <th tooltip="Dentro de Sala">Hora DS</th>
            <th tooltip="Fora de Sala">Hora FS</th>
            <th>Regime</th>
            <th>Titulação</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of resultadoCodCampus | paginate: { itemsPerPage: 8, currentPage: p }"> 
            <td>{{item?.cpfProfessor}}</td>
            <td>{{item?.codCampus}}</td>
            <td>{{item?.nomProfessor}}</td>
            <td>{{item?.ativo}}</td>
            <td>{{ DS }}</td>
            <td>{{ FS }}</td>
            <td>{{item?.regime}}</td>
            <td>{{item?.titulacao}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <pagination-controls *ngIf="resultadoCodCampus" previousLabel="Anterior" nextLabel="Próximo"
      (pageChange)="p = $event">
    </pagination-controls>
  </div>
</div>