<div class="container p-0">
  <div class="row">
    <div class="col-md-6 mt-5">
      <label for="nomInstituicao"><b>Selecione o Campus </b></label>
      <div class="input-group">
        <select #_codCampus class="form-control" id="codCampus">
          <option value="0" disabled>-- Selecione um Campus --</option>
          <option *ngFor="let item of codigoCampus" value="{{item.codCampus}}">{{item.nomCampus}}</option>
        </select>
        <div class="input-group-append ">
          <button class="btn btn-outline-primary" (click)="resultadoProfessorForaSede(_codCampus.value)">Buscar</button>
        </div>
        <div class="input-group-append ">
          <button class="btn btn-sm btn-outline-success " (click)="exportarResultadoExcel(_codCampus.value)"
            *ngIf="_codCampus.value">
            <i class="fas fa-file-excel fa-1x"></i> Exportar</button>
        </div>
      </div>
    </div>
  </div>
  <div class="container mt-4 p-0">
    <div class="d-flex align-items-start mt-2">
      <h4>Professor Fora de Sede</h4>
    </div>
    <div class="table-overflow">
      <table class="table table-hover">
        <thead class="titulo-tabela">
          <tr>
            <th class="text-left">Código Campus </th>
            <th class="text-left">Nome Campus</th>
            <th class="text-left">CPF</th>
            <th class="text-left">Nome Professor</th>
            <th class="text-left">Ativo</th>
            <th class="text-left">Regime</th>
            <th class="text-left">Titulação</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of resultadoCodCampus | paginate: { itemsPerPage: 8, currentPage: p }">
            <td class="text-left">{{item?.codCampus}}</td>
            <td class="text-left">{{item?.nomcampus}}</td>
            <td class="text-left">{{item?.cpfProfessor}}</td>
            <td class="text-left">{{item?.nomProfessor}}</td>
            <td class="text-left">{{item?.ativo}}</td>
            <td class="text-left">{{item?.regime}}</td>
            <td class="text-left">{{item?.titulacao}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <pagination-controls *ngIf="resultadoCodCampus" previousLabel="Anterior" nextLabel="Próximo"
      (pageChange)="p = $event">
    </pagination-controls>
  </div>
</div>